.slider-home.slick-slider .slick-list,
.slider-home.slick-slider .slick-track {
	height: 720px;
}

.slider-nav {
	height: 480px !important;
}
.slider-for {
	height: 480px !important;
}
.slider-home .slick-slide {
	background-position: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	position: relative;
	background-color: #333;
}
.slide__bg {
	position: absolute;
	top: 0;
	left: -50%;
	width: 100%;
	height: 100%;
	background-size: cover;
	will-change: transform;
}
.slide__content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
svg:not(:root) {
	overflow: hidden;
}
.slide__overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	min-height: 810px;
	width: 100%;
}
.slide__overlay-path {
	fill: #00000075;
}
*:focus {
	outline: none;
}
header a.logo img.logo-dark {
	max-height: 100px;
}
.about-text {
	color: #fafafa;
	font-size: 16px;
	line-height: 1.6;
}
.smiley-image {
	height: 35px;
	margin: 0 4px;
}
.slider-studio-1 {
	margin-top: 10%;
}
header nav.navbar.white-link .navbar-nav > li.active > a.black,
nav.navbar.bootsnav.white-link ul.nav > li.active > a.black,
header nav.navbar.bootsnav ul.nav.white-link > li.active > a.black,
header.header-appear
	nav.header-dark-transparent
	.navbar-nav
	> li.active
	> a.black,
header.header-appear nav.header-dark .navbar-nav > li.active > a.black,
header.sticky nav.header-dark .navbar-nav > li.active > a.black,
header.sticky nav.header-dark-transparent .navbar-nav > li.active > a.black,
header.sticky
	nav.navbar.bootsnav.header-dark-transparent.white-link
	.navbar-nav
	> li.active
	> a.black {
	color: #a7a7a7;
}
header nav.navbar.white-link .navbar-nav > li > a.black,
nav.navbar.bootsnav.white-link ul.nav > li > a.black,
header nav.navbar.white-link .header-social-icon a.black,
nav.navbar.bootsnav.white-link .header-social-icon a.black,
header nav.navbar.white-link .header-searchbar a.black,
nav.navbar.bootsnav.white-link .header-searchbar a.black,
header nav.navbar.bootsnav ul.nav.white-link > li > a.black,
nav.navbar.white-link .heder-menu-button a.black {
	color: #6b6b6b;
}

header nav.navbar.white-link .navbar-nav > li > a.black:hover,
nav.navbar.bootsnav.white-link ul.nav > li > a.black:hover,
header nav.navbar.white-link .header-social-icon a.black:hover,
nav.navbar.bootsnav.white-link .header-social-icon a.black:hover,
header nav.navbar.white-link .header-searchbar a.black:hover,
nav.navbar.bootsnav.white-link .header-searchbar a.black:hover,
header nav.navbar.bootsnav ul.nav.white-link > li > a.black:hover,
nav.navbar.white-link .heder-menu-button a.black:hover {
	color: #ccc;
}
.low-pad {
	padding: 40px 0;
	margin-top: 8%;
	background: transparent;
}

@media (max-width: 768px) {
	header .logo .logo-dark.default,
	header .logo .logo-light.default {
		max-height: 64px;
	}
	.navbar-default.white-link.no-bg .navbar-toggle .icon-bar,
	header.sticky .navbar-default.header-dark .navbar-toggle .icon-bar,
	header.sticky
		.navbar-default.header-dark-transparent
		.navbar-toggle
		.icon-bar {
		background: #696969;
	}
}
